<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your English School</title>
    <link rel="stylesheet" href="../statics/css/login.css">
</head>
<body>
    <header>
        <h1>Your English School</h1>
    </header>
    
    <main>
        <section class="login">
            <h2>Iniciar Sesión</h2>
            <form id="loginForm">
                <label for="username">Usuario:</label>
                <input type="text" id="username" required>
                
                <label for="dni">Clave:</label>
                <input type="password" id="dni" required>
                
                <button type="submit">Ingresar</button>
            </form>
            <p id="loginError" class="error"></p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 By GOP</p>
    </footer>
    
    <script src="../statics/js/login.js"></script>
</body>
</html>